<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="heading"><h1>KORE</h1></div>
        <div class="container" style="overflow: hidden;">
            <img src="../../assets/img1.jpg" alt="" style="border-radius:100% ; width: 350px; height: 350px;padding:10px ; margin-left: 140px; ">
        </div>
        <div class="footer"><h3>Simplify IoT</h3><br>As Internet of Things (IoT) and intelligent edge technology evolves, more businesses are adopting solutions that give them new insight.</div>
        <button class="button" (click)="clickme()">Press</button>
    </div>
</body>
</html>