<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div>{{title}}</div> -->
    <div class="main">
        <div class="heading"><h1>KORE</h1></div>
        <div class="container" style="overflow: hidden;">
            <img src="../../assets/trolley.webp" alt="" style="border-radius:100% ; width: 350px; height: 350px;padding:10px ; margin-left: 140px; ">
        </div>
        <div class="footer"><h3>Agile</h3><br>Agile is an iterative approach to project management and software development that helps teams deliver value to their customers faster and with fewer headaches.</div>
        <button class="button" (click)="clickme()">Press</button>
    </div>
</body>

</html>